# Avoid select *

For this experiment you can use http://sqlfiddle.com/.  
Let create a table with 5 integer column, and populate this with 1.000.000 rows.  
You could generate this with any function, I used i/1,i/10,i/100, i/1000, i/10000, for each i = element in serie.

CREATE TABLE tbl (                                                                        
    col1 int,                                                                             
    col2 int,                                                                             
    col3 int,                                                                             
    col4 int,                                                                             
    col5 int                                                                              
);                                                                                        
INSERT INTO tbl SELECT i/1,i/10,i/100, i/1000, i/10000                                                  
FROM generate_series (1,1000000) s(i);

Ok, now let see the [plan ***explain***](https://www.postgresql.org/docs/9.4/using-explain.html) for "select *" and for "select col1,col2,col3,col4,col5"

explain select * from tbl;
explain select col1,col2,col3,col4,col5 from tbl;

In the first case we have

QUERY PLAN
Seq Scan on tbl (cost=0.00..16370.00 rows=1000000 width=20)
 Record Count: 1; Execution Time: 11ms

while in the second case

QUERY PLAN
Seq Scan on tbl (cost=0.00..16370.00 rows=1000000 width=20)
 Record Count: 1; Execution Time: 1ms

That means that "select *" is **more than 10 times slower!**